<div style="width:62px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" id="titleCmd#id#" title="#collectDate#">
    <center>
        <span style="font-weight: bold;font-size : 12px;" class='cmdName'>#name#<br/></span>
        <span style="font-size: 2em;margin-top: 5px;" id="iconCmd#id#"></span>
    </center>

    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('#iconCmd#id#').addClass('fa fa-cube');
            $('#titleCmd#id#').attr('title', 'OK  -  #collectDate#');
        }
        if ('#state#' == '0' || '#state#' == 0) {
            $('#iconCmd#id#').addClass('fa fa-dropbox text-danger');
            $('#titleCmd#id#').attr('title', 'Alarme sabotage  -  #collectDate#');
        }
    </script>
</div>
