<div style="width:62px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" id="titleCmd#id#" title="#collectDate#">
    <center>
        <span style="font-weight: bold;font-size : 12px;" class='cmdName'>#name#<br/></span>
        <span id="spanCmd#id#">
        	<i style="font-size: 1.5em;font-weight: bold;margin-top: 5px;" id="backIconCmd#id#"></i>
        	<i style="font-size: 1.5em;font-weight: bold;margin-top: 5px;" id="frontIconCmd#id#"></i>
        </span>
    </center>

    <script>
        if ('#state#' == '1' || '#state#' == 1) {
        	$('#spanCmd#id#').addClass('fa-stack fa-1x');
            $('#titleCmd#id#').attr('title', 'OK  -  #collectDate#');
            $('#backIconCmd#id#').addClass('fa fa-wifi fa-stack-1x')
        }
        if ('#state#' == '0' || '#state#' == 0) {
        	$('#spanCmd#id#').addClass('fa-stack fa-1x');
        	$('#backIconCmd#id#').addClass('fa fa-wifi fa-stack-1x');
        	$('#frontIconCmd#id#').addClass('fa fa-exclamation fa-stack-1x text-danger');
            $('#titleCmd#id#').attr('title', 'Erreur liaison  -  #collectDate#');
        }
    </script>
</div>