<div class="eqLogic eqLogic-widget container-fluid" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#;max-width: #max_width#;#style#" data-category="#category#">
	<div class="row widget-name center-block">
	
		<a href="#eqLink#" style="font-size : 1.5em; " class='cmdName col-xs-12 text-center'>#name#</a>
		<hr class='col-xs-12' style="margin-bottom:8px;border: 0;height: 1px;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
        <div class="col-xs-2 center-block">#link#</div>
        <div class="col-xs-2 center-block">#battery#</div>
        <div class="col-xs-2 center-block">#door#</div>
        <div class="col-xs-2 center-block">#tampered#</div>
        <div class="col-xs-2 center-block">#camera#</div>
        <div class="col-xs-2 center-block">#gsm_signal#</div>
        
        <hr class='col-xs-12' style="margin-bottom:8px;border: 0;height: 1px;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
		<div class="col-xs-3 center-block">#alarm#</div>
        <div class="col-xs-3 center-block">#zone_a#</div>
        <div class="col-xs-3 center-block">#zone_b#</div>
        <div class="col-xs-3 center-block">#zone_c#</div>
        
        <div class="col-xs-12 center-block text-center">#zoneabc_on#</div>
        <div class="col-xs-4 center-block text-right">#zonea_on#</div>
        <div class="col-xs-4 center-block text-center">#zoneb_on#</div>
        <div class="col-xs-4 center-block text-left">#zonec_on#</div>
        <div class="col-xs-12 center-block text-center">#abc_off#</div>
        <hr class='col-xs-12' style="margin-bottom:8px;border: 0;height: 1px;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
        
        <div class="col-xs-4 center-block text-right">#reset_alarm_err#</div>
        <div class="col-xs-4 center-block text-center">#reset_battery_err#</div>
        <div class="col-xs-4 center-block text-left">#reset_link_err#</div>
        
        <div class="col-xs-12 center-block text-center">#needs_reboot#</div>    	
            	  
	</div>
</div>

<script>
    if ('#noResize#' == 1) {
        $('.eqLogic[data-eqLogic_id=#id#]').addClass('noResize');
    }
</script>