<div style="display: inline-block;font-size: 0.8em;margin-right : 5px;" id="titleCmd#id#" title="#collectDate#">
    <center>
        <span style="font-weight: bold;font-size : 12px;" class='cmdName'>#name#<br/></span>
        <span style="font-size: 1.7em;margin-top: 5px;" class="fa-stack fa-1x">
		<i id="iconCmd#id#"></i>
        </span>
    </center>


    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('#iconCmd#id#').addClass('fa fa-lock fa-2x fa-stack-1x');
            $('#titleCmd#id#').attr('title', 'Activée  -  #collectDate#');
        }
        if ('#state#' == '0' || '#state#' == 0) {
            $('#iconCmd#id#').addClass('fa fa-unlock fa-2x fa-stack-1x');
            $('#titleCmd#id#').attr('title', 'Désactivée  -  #collectDate#');
        }
    </script>
</div>
