<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" id="titleCmd#id#" title="#collectDate#">
    <center>
        <span id="spanCmd#id#" class='fa-stack fa-1x'>
        	<i style="font-size: 1.5em;margin-top: 5px;" id="backIconCmd#id#"></i>
        	<i style="font-size: 1.5em;margin-top: 5px;" id="frontIconCmd#id#"></i>
        </span>
    </center>

    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('#titleCmd#id#').attr('title', 'OK  -  #collectDate#');
            $('#backIconCmd#id#').addClass('fa fa-wifi fa-stack-1x')
        }
        if ('#state#' == '0' || '#state#' == 0) {
        	$('#backIconCmd#id#').addClass('fa fa-wifi fa-stack-1x');
        	$('#frontIconCmd#id#').addClass('fa fa-exclamation fa-stack-1x');
        	$('#frontIconCmd#id#').css({ "color": "#a94444" });
            $('#titleCmd#id#').attr('title', 'Erreur liaison  -  #collectDate#');
        }
    </script>
</div>