<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" id="titleCmd#id#" title="#collectDate#">
    <center>
        <span id="spanCmd#id#" class='fa-stack fa-1x'>
        	<i style="font-size: 2em;margin-top: 5px;" id="iconCmd#id#"></i>
        </span>
    </center>

    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('#titleCmd#id#').attr('title', 'OK  -  #collectDate#');
            $('#iconCmd#id#').addClass('fa jeedom-batterie3 fa-stack-1x')
        }
        if ('#state#' == '0' || '#state#' == 0) {
        	$('#iconCmd#id#').addClass('fa jeedom-batterie1 fa-stack-1x');
            $('#titleCmd#id#').attr('title', 'Batterie faible  -  #collectDate#');
        }
    </script>
</div>