<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" id="titleCmd#id#" title="#collectDate#">
    <center>
        <span id="spanCmd#id#" class='fa-stack fa-1x'>
        	<i style="font-size: 1.5em;margin-top: 5px;" id="iconCmd#id#"></i>
        </span>
    </center>
	
	<script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('#titleCmd#id#').attr('title', 'OK  -  #collectDate#');
            $('#iconCmd#id#').addClass('fa fa-cube fa-stack-1x')
        }
        if ('#state#' == '0' || '#state#' == 0) {
        	$('#iconCmd#id#').addClass('fa fa-dropbox fa-stack-1x');
        	$('#iconCmd#id#').css({ "color": "#a94444" });
            $('#titleCmd#id#').attr('title', 'Alarme sabotage  -  #collectDate#');
        }
    </script>
</div>