<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" id="titleCmd#id#" title="#collectDate#">
    <center>
        <span id="spanCmd#id#">
        	<i style="font-size: 2em;vertical-align:middle;display:inline-block;width:40px;line-height:normal;text-align:center;" id="iconCmd#id#"></i>
        </span>
    </center>

	<script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('#titleCmd#id#').attr('title', 'OK  -  #collectDate#');
            $('#iconCmd#id#').addClass('fa jeedom-batterie3')
        }
        if ('#state#' == '0' || '#state#' == 0) {
            $('#titleCmd#id#').attr('title', 'Batterie faible  -  #collectDate#');
        	$('#iconCmd#id#').addClass('fa jeedom-batterie0');
        }
    </script>
</div>