<div class="eqLogic eqLogic-widget" style="width:210px;background-color: #background_color#" data-eqLogic_id="#id#" data-version="mobile" data-category="#category#">
    <center>
        <span class="widget-name">
            <span style="font-weight: bold;">#name#</span><br/>
        </span>
    </center>
    <hr style="margin-bottom:8px;border: 0;height: 1px;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
    <div>
	<center>
		#link#
            	#battery#
            	#door#
            	#tampered#
            	#camera#
            	#gsm_signal#
            	#needs_reboot#
            	#gsm_link#
            	#gsm_operator#
	</center>
    </div>
    <hr style="margin-bottom:8px;border: 0;height: 1px;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
    <div>
	<center>
		<div style="clear:both;text-align:center;">
			<div style="float:left;width:25%;">#alarm#</div>
			<div style="float:left;width:25%;">#zone_a#</div>
			<div style="float:left;width:25%;">#zone_b#</div>
			<div style="float:left;width:25%;">#zone_c#</div>
		</div>
		<br>

            	#zoneabc_on#
            	#abc_off#
            	<br>
            	#zonea_on#
            	#zoneb_on#
            	#zonec_on#
	</center>
    </div>
    <hr style="margin-bottom:8px;border: 0;height: 1px;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
    <div>
	<center>
            	#reset_alarm_err#
            	#reset_battery_err#
            	#reset_link_err#
	</center>
    </div>
</div>
